{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}


{% block title %}
Login
{% endblock %}


{% block styles %}
{{super()}}
<style>
.trip ul{
 margin:0px;
 padding:0;
 list-style:none;
    }
  .trip ul li{
   display:inline-block;
   float:left;
   background: #0F2027;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
   }

   .trip ul li a{
   font-size:20px;
   display:block;
   text-decoration:none;
   padding:20px 140px;
   color:#f2f2f2;
   }
    .trip ul li a:hover{
   background: #00B4DB;  /* fallback for old browsers */
   background: -webkit-linear-gradient(to right, #0083B0, #00B4DB);  /* Chrome 10-25, Safari 5.1-6 */
   background: linear-gradient(to right, #0083B0, #00B4DB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
</style>
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/style.css')}}">
{% endblock %}

{% block content %}
   <body>
   {% with messages = get_flashed_messages(with_categories=true) %} {% if
    messages %} {% for category, message in messages %} {% if category ==
    'error' %}
    <div class="alert alert-danger alter-dismissable fade show" role="alert">
      {{ message }}
      <button type="button" class="close" data-dismiss="alert">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
     {% endif %} {% endfor %} {% endif %} {% endwith %}
   <div class="trip">
       <ul>
           <li> <a href="/">Home</a></li>
       </ul>
   </div>
   <br>
   <br>
   <br>
   <br>

         <div class="header">
             <form class="login-form" method="POST" >
                 <h2><u>Login</u></h2>
                 <dl>
                  {{ form.hidden_tag() }}
                  {{ wtf.form_field(form.username) }}
                  {{ wtf.form_field(form.password) }}
                  {{ wtf.form_field(form.remember) }}
             <button type="submit" class="btn btn-primary">Login</button>
                 <br>
                 Don't have an account yet?
                 <a href="/register">
                     <button type="button" class="btn btn-primary">Sign up</button>
                 </a>
                 </dl>
             </form>
         </div>


   </body>
{% endblock %}